.navbar{
    /* position: absolute; */

    top: 0px;
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(199, 202, 152);
    box-shadow: 0 10px 30px -10px hsla(0, 0%, 0%, 0.1);
    margin:0 0 50px 0 ;
    // border: 1px solid black;
    }

    .vue-logo{
        height: 48px;
     width: 48px;
    }

    #app {
      font-family: Avenir, Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      /* margin-top: 60px; */
      position: relative;
      min-height: 100vh;
      background-color: white
    }

    html {
      box-sizing: border-box;
      font-size: 16px;
    }

    *, *:before, *:after {
      box-sizing: inherit;
    }

    body, h1, h2, h3, h4, h5, h6, p, ol, ul {
      margin: 0;
      padding: 0;
      font-weight: normal;
    }

    ol, ul {
      list-style: none;
    }

    img {
      max-width: 100%;
      height: auto;
    }